.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# local .env files
.env.local*

# BEX related directories and files
/src-bex/www
/src-bex/js/core
/src-bex/js/external
/src-bex/js/external/axios

# Quasar App Extension related directories and files
/node_modules/@quasar
/quasar.extensions.json
/quasar.extensions.json

# Quasar CLI related directories and files
/quasar-debug.log
/quasar-error.log
/quasar.dev.js
/quasar.prod.js
/quasar.conf.js
/quasar.conf.json
/quasar.conf.cjs
/quasar.conf.mjs
/quasar.conf.ts
/quasar.conf.tsc

# Quasar App CLI related directories and files
/quasar-app-extension.json
/quasar-app-extension.js
/quasar-app-extension.cjs
/quasar-app-extension.mjs
/quasar-app-extension.ts
/quasar-app-extension.tsc