# Ignorar archivos de entorno
.env

# Archivos de compilación de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Archivos de compilación de Gradle
.gradle/
build/
!gradle-wrapper.jar

# Configuración IDEs y editores
*.iml
.idea/
.vscode/
*.swp
*.swo

# Archivos de logs y de depuración
logs/
*.log
*.out
hs_err_pid*

# Configuración de Spring Boot
*.properties~
*.yml~
application.properties
application.yml

# Directorios de caché
.mvn/
.m2/

# Docker
docker-compose.override.yml
Dockerfile
*.dockerignore
docker-compose.yml

# Binarios y dependencias
bin/
obj/
lib/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# PostgreSQL
*.sql
*.dump
*.backup
pgdata/

# Node modules
node_modules/

# Quasar
quasar-project/node_modules/
quasar-project/.quasar/
quasar-project/.vscode/

# Quasar project
quasar-project/dist/
package-lock.json